<!doctype html>
<html>
<head>
	<title>Test Page</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

    <script src="/static/{{this}}"></script>

</head>
<body>
	    <body>
        <div class="head">
            <header class="site-head">
                <h1>Missing Keys Computer Parts</h1>
            </header>
        </div>
        <div class="head-links">
            <a href="index.html">Home</a>
            <a href="accounts.html">Accounts</a>
            <a href="suppliers.html">Suppliers</a>
            <a href="products.html">Products</a>
            <a href="orders.html">Orders</a> 
        </div>
        <div class="site-form">
            <form class="cust-login-form">
                <div class="form-item">
                    <label for="lfname">First name:</label>
                    <input type="text" name="username">
                </div>
                <div class="form-item">
                    <label for="lpass">Last name:</label>
                    <input type="text">
                </div>
                <div class="form-item">
                    <input type="submit" value="Search">
                </div>
            </form>
        </div>
        <div class="accounts">
            <h3 class="accounts">Accounts</h3>
        </div>
        <div>
            <table>
                <thead>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Address</th>
                </thead>
                <tbody>
                    <tr>
                        <td>{{firstName}}</td>
                        <td>{{lastName}}</td>
                        <td>{{email}}</td>
                        <td>{{phone}}</td>
                        <td>{{addressID}}</td>
                        <td><button onclick= "deletecustomer({{id}})">Delete</button></td>
                        <td><a href="update_account.html">Update</a></td>
                        <td><a href="/people/{{id}}">View</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="csignup-head">
            <p><a href="add_account.html">Add Account</a></p>
        </div>
    </body>
</body>
</html>
