
{{#each foo}}
{{this}}
{{/each}}

<table>
    <thead>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Address</th>
    </thead>
    <tbody>
      {{#each customer}} 
        <tr>
            <td>{{firstName}}</td>
            <td>{{lastName}}</td>
            <td>{{email}}</td>
            <td>{{phone}}</td>
            <td>{{addressID}}</td>
            <td><button onclick= "deletecustomer({{id}})">Delete</button></td>
            <td><a href="/customers/{{id}}">Update</a></td>       
        </tr>
    </tbody>
</table>
