<table>
    <div class="site-form">
	<form class="cust-login-form">
	    <div class="form-item">
		<label for="lfname">First name:</label>
		<input type="text" name="username">
	    </div>
	    <div class="form-item">
		<label for="lpass">Last name:</label>
		<input type="text">
	    </div>
	    <div class="form-item">
		<input type="submit" value="Search">
	    </div>
	</form>
    </div>
    <div class="accounts">
	<h3 class="accounts">Accounts</h3>
    </div>
    <div>
	<table>
	    <thead>
		<th>First Name</th>
		<th>Last Name</th>
		<th>Email</th>
		<th>Phone</th>
		<th>Address</th>
	    </thead>
	    <tbody>
		{{#each Customers}} 
		<tr>
		    <td>{{firstName}}</td>
		    <td>{{lastName}}</td>
		    <td>{{email}}</td>
		    <td>{{phone}}</td>
		    <td>{{addressID}}</td>
		    <td><button onclick= "deleteAccount({{customerID}})">Delete</button></td>
		    <td><a href="update_account.html">Update</a></td>
		    <td><a href="accounts_home.html">View</a></td>
		</tr>
		{{/each}}
	    </tbody>
	</table>
    </div>
    <div class="csignup-head">
	<p><a href="add_account.html">Add Account</a></p>
    </div>
</table>
