<table>
    <div class="site-form">
	<form class="cust-login-form">
	    <div class="form-item">
		<label for="lfname">First name:</label>
		<input type="text" name="username">
	    </div>
	    <div class="form-item">
		<label for="lpass">Last name:</label>
		<input type="text">
	    </div>
	    <div class="form-item">
		<input type="submit" value="Search">
	    </div>
	</form>
    </div>
    <div class="accounts">
	<h3 class="accounts">Accounts</h3>
    </div>
    <div>
	<table>
	    <thead>
		<th>First Name</th>
		<th>Last Name</th>
		<th>Email</th>
		<th>Phone</th>
		<th>Address</th>
	    </thead>
	    <tbody>
		{{#each customers}} 
		<tr>
		    <td>{{firstName}}</td>
		    <td>{{lastName}}</td>
		    <td>{{email}}</td>
		    <td>{{phone}}</td>
		    <td>{{addressID}}</td>
		    <td><button onclick= "deleteCustomer({{customerID}})">Delete</button></td>
		    <td><a href="/customers/{{customerID}}">Update</a></td>
		    <td><a href="accounts_home.html">View</a></td>
		</tr>
		{{/each}}
	    </tbody>
	    <form id="addcustomer" action="/customers" method='post">
		First name: <input type="text" name="firstName">
		Last name: <input type="text" name="lastName" required>
		Email: <input type="text" name="email" required>
		Address: <input type="text" name="add1" required>
		Address: <input type="text" name="add2">
		Zipcode: <input type="text" name="zip" required>
		Phone: <input type="text" name="phone">
		<input type="submit" value="Submit">
	    </form>
	</div>
	</table>
    </div>
</table>
