<table>
  <thead>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Address</th>
  </thead>
  <tbody>
      <div class="site-form">
          <form class="order-form">
              <div class="form-item">
                  <label for="orderid">Order ID:</label>
                  <input type="text" name="orderid">
              </div>
              <div class="form-item">
                  <label for="orderdate">Order Date:</label>
                  <input type="text" name="orderdate">
              </div>
              <div class="form-item">
                  <input type="submit" value="Search">
              </div>
          </form>
      </div>
      <div class="orders">
          <h3 class="orders">Orders</h3>
      </div>
      <div>
          <table>
              <thead>
                  <th>Order ID</th>
                  <th>Customer ID</th>
                  <th>Order Date</th>
                  <th>Shipped Date</th>
                  <th>Total</th>
              </thead>
              <tbody>
              {{#each orders}} 
                  <tr>
                      <td>{{orderID}}</td>
                      <td>{{customerID}}</td>
                      <td>{{orderDate}}</td>
                      <td>{{shippedDate}}</td>
                      <td>{{total}}</td>
                      <td><button onclick= "viewOrder({{orderID}})">View Order</button></td>
                      <td><button onclick= "deleteOrder({{orderID}})">Delete</button></td>
                      <td><a href="/orders/{{orderID}}">Update</a></td>
                  </tr>
                  {{/each}}
              </tbody>
          </table>
      </div>
      <div>
      <p><h3>Order Items</h3></p>
        <div class="OrderItems">
            <div class="row">
              <div class="col">
                <div class="order-block">
                  <p class="order-orderid">{{orderID}}</p>
                  <p class="order-productid">{{productID}}</p>
                  <p class="order-supplier">{{supplierID}}</p>
                  <p class="order-quantity">{{quant}}</p>
                  <p><button onclick= "deleteOrderItem{{id}})">Delete</button>
                  <a href="update_order.html">Update</a></p>  
                </div>
              </div>
          </div>
       </div>
    </div>
    <div class="order-block">
          <p><a href="add_order.html" >Add Order</a></p>
    </div>
  </tbody>
</table>
