<div class="site-form">
    <form class="supplier-search-form">
        <div class="form-item">
            <label for="lfname">Supplier Name:</label>
            <input type="text" name="cname">
        </div>
        <div class="form-item">
            <label for="lfname">Supplier Location:</label>
            <input type="text" name="cname">
        </div>
        <div class="form-item">
            <input type="submit" value="Search">
        </div>
    </form>
</div>
<div class="products">
    <h3 class="products">Suppliers</h3>
</div>
    <table>
        <thead>
            <th>Supplier</th>
            <th>Email</th>
            <th>Phone</th>
        </thead>
        <tbody>
        {{#each suppliers}} 
            <tr>
                <td>{{name}}</td>
                <td>{{email}}</td>
                <td>{{phone}}</td>
                <td><button onclick= "deleteSupplier({{supplierID}})">Delete</button></td>
                <td><a href="/suppliers/{{supplierID}}">Update</a></td>
                <td><a href="suppliers_home.html">View</a></td>
            </tr>
            {{/each}} 
        </tbody>
            <form id="addSupplier" action="/suppliers" method="post">
            Supplier: <input type="text" name="name" required><br>
            Email: <input type="text" name="email" required><br>
            Address: <input type="text" name="add1"><br>
            Address: <input type="text" name="add2"><br>
            Zipcode: <input type="text" name="zip"><br>
            Phone: <input type="text" name="phone"><br>
            <input type="submit" value="Submit">
            </form>
    </table>
    
