<h1>Update {{account.firstname}} {{account.lastname}}:</h1>
<form id="update-account" action="/account" method="post">
    First name: <input type="text" name="firstname" value="{{account.firstname}}"><br>
    Last name: <input type="text" name="lastname" value="{{account.lastname}}"><br>
</form>
<button onclick="updateAccount({{account.customerID}})">Update</button>
