<h1>Update {{customer.ffirstname}} {{customer.lastname}}:</h1>
<form id="update-customer" action="/customer" method="post">
    First name: <input type="text" name="firstname" value="{{customer.firstname}}"><br>
    Last name: <input type="text" name="lastname" value="{{customer.lastname}}"><br>
</form>
<button onclick="updateCustomer({{customer.customerID}})">Update</button>
